@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>vidusha</h1>
    <p class="lead">a place to take a measure of your skill.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Start here &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Get a measure</h2>
        <p>
            players need a playground, smart look for a skill zone, geeks itch for a code puzzle. Here is all that any brainy want to find his measure.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Challenge the best in your subject</h2>
        <p>now, Subject Matter Experts can be part of this platform. You can challenge the best of the skilled with your next best question..</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Offers</h2>
        <p>It's not just for individuals, you can register a team of pros or students. You will get the most granular report about your team's performance.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>